.elementor-7650 .elementor-element.elementor-element-14982f5f:not(.elementor-motion-effects-element-type-background),
.elementor-7650 .elementor-element.elementor-element-14982f5f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-7650 .elementor-element.elementor-element-14982f5f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7650 .elementor-element.elementor-element-14982f5f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-ha-slider .ha-slick-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-ha-slider .ha-slick-subtitle {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-bc-flex-widget .elementor-7650 .elementor-element.elementor-element-46b86b8e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-7650 .elementor-element.elementor-element-46b86b8e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-7650 .elementor-element.elementor-element-46b86b8e.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7650 .elementor-element.elementor-element-46b86b8e>.elementor-element-populated {
    padding: 40px 40px 40px 40px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-7650 .elementor-element.elementor-element-5f7fa3f4>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-7650 .elementor-element.elementor-element-5f7fa3f4 {
    text-align: center;
}

.elementor-7650 .elementor-element.elementor-element-5f7fa3f4 .elementor-heading-title {
    font-family: "Avenir", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #000000;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-7650 .elementor-element.elementor-element-7ee42779 {
    text-align: center;
    font-family: "Avenir", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75em;
    color: #777777;
}

.elementor-7650 .elementor-element.elementor-element-3b074eb6 {
    text-align: center;
    font-family: "Avenir", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75em;
    color: #777777;
}

.elementor-widget-ha-creative-button .ha-creative-btn {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .elementor-widget-container {
    text-align: center;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn {
    font-family: "Avenir Light", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn,
.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-eft--bloom div {
    border-style: none;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #000000;
    --ha-ctv-btn-border-clr: #000000;
    --ha-ctv-btn-txt-hvr-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #E97722;
    --ha-ctv-btn-border-hvr-clr: #E97722;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 60px 13px 60px;
}

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 60px 13px 60px;
}

#elementor-popup-modal-7650 .dialog-widget-content {
    animation-duration: 0.35s;
    background-color: #CF232300;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-7650 {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-7650 .dialog-message {
    width: 880px;
    height: auto;
}

#elementor-popup-modal-7650 .dialog-close-button {
    display: flex;
}

@media(min-width:768px) {
    .elementor-7650 .elementor-element.elementor-element-116616ef {
        width: 55%;
    }
    .elementor-7650 .elementor-element.elementor-element-46b86b8e {
        width: 45%;
    }
}

@media(max-width:767px) {
    .elementor-7650 .elementor-element.elementor-element-14982f5f {
        margin-top: 78px;
        margin-bottom: 78px;
    }
    .elementor-bc-flex-widget .elementor-7650 .elementor-element.elementor-element-46b86b8e.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }
    .elementor-7650 .elementor-element.elementor-element-46b86b8e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }
    .elementor-7650 .elementor-element.elementor-element-46b86b8e>.elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 20px 20px 20px 20px;
    }
    .elementor-7650 .elementor-element.elementor-element-5f7fa3f4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-7650 .elementor-element.elementor-element-7ee42779>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-7650 .elementor-element.elementor-element-3b074eb6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-7650 .elementor-element.elementor-element-1ec47f99>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

/* Start custom CSS for heading, class: .elementor-element-5f7fa3f4 */

.elementor-7650 .elementor-element.elementor-element-5f7fa3f4 {
    margin: 0;
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-7ee42779 */

.elementor-7650 .elementor-element.elementor-element-7ee42779 {
    margin: 0;
}

/* End custom CSS */

/* Start custom CSS for ha-creative-button, class: .elementor-element-1ec47f99 */

.elementor-7650 .elementor-element.elementor-element-1ec47f99 .ha-creative-btn {
    width: 100%;
    text-transform: none;
}

@media (min-width: 1024px) {
    body.admin-bar .dialog-lightbox-widget {
        height: calc(85vh - 32px);
    }
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-14982f5f */

@media (max-width: 767px) {
    .elementor-7650 .elementor-element.elementor-element-14982f5f .elementor-column {
        width: 100%;
        height: 58vh;
    }
    .elementor-7650 .elementor-element.elementor-element-14982f5f .elementor-widget-container,
    .elementor-7650 .elementor-element.elementor-element-14982f5f .elementor-widget:not(:last-child) {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    body.admin-bar .dialog-lightbox-widget {
        height: calc(89vh - 32px);
    }
}

/* End custom CSS */