.elementor-8280 .elementor-element.elementor-element-bc8a291 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -78px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 999;
}

.elementor-8280 .elementor-element.elementor-element-bc8a291>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-ha-creative-button .ha-creative-btn {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn {
    font-family: "Avenir", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-b96aa11 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-62e9ad0>.elementor-container {
    min-height: 600px;
}

.elementor-8280 .elementor-element.elementor-element-62e9ad0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -78px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 999;
}

.elementor-8280 .elementor-element.elementor-element-62e9ad0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8280 .elementor-element.elementor-element-f5aafb9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8280 .elementor-element.elementor-element-f5aafb9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-a364346:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn {
    font-family: "Avenir", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a364346 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-635c930 .elementor-repeater-item-e87c0db.jet-parallax-section__layout .jet-parallax-section__image {
    background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_06-VDDL1TIS0291-VDDL1TXR0111_0775-1.jpg");
    background-size: cover;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb {
    z-index: 99;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn {
    font-family: "Avenir Light", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-634bdeb .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-635c930>.elementor-container {
    min-height: 700px;
}

.elementor-8280 .elementor-element.elementor-element-635c930 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 998;
}

.elementor-8280 .elementor-element.elementor-element-4b90f50 .elementor-repeater-item-e87c0db.jet-parallax-section__layout .jet-parallax-section__image {
    background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_06-VDDL1TIS0291-VDDL1TXR0111_0775-1.jpg");
    background-size: cover;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn {
    font-family: "Avenir", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-f2c72bc .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4b90f50>.elementor-container {
    min-height: 800px;
}

.elementor-8280 .elementor-element.elementor-element-4b90f50 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 998;
}

.elementor-8280 .elementor-element.elementor-element-ff281bb:not(.elementor-motion-effects-element-type-background),
.elementor-8280 .elementor-element.elementor-element-ff281bb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8280 .elementor-element.elementor-element-ff281bb {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8280 .elementor-element.elementor-element-ff281bb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-8280 .elementor-element.elementor-element-07bc8b8 {
    font-family: "Rift", Sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.8em;
    color: #000000;
}

.elementor-8280 .elementor-element.elementor-element-d25ddff:not(.elementor-motion-effects-element-type-background),
.elementor-8280 .elementor-element.elementor-element-d25ddff>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8280 .elementor-element.elementor-element-d25ddff {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 8px 0px;
}

.elementor-8280 .elementor-element.elementor-element-d25ddff>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8280 .elementor-element.elementor-element-fd88cc7 {
    font-family: "Rift", Sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.8em;
    color: #FFFFFF;
}

.elementor-8280 .elementor-element.elementor-element-55aafd6 .elementor-repeater-item-96a902d.jet-parallax-section__layout .jet-parallax-section__image {
    background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_12-VDDL1TIS0311_1576-1.jpg");
    background-size: cover;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 {
    z-index: 999;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-32ca000:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn {
    font-family: "Avenir Light", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-32ca000 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-55aafd6>.elementor-container {
    min-height: 600px;
}

.elementor-8280 .elementor-element.elementor-element-55aafd6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 998;
}

.elementor-8280 .elementor-element.elementor-element-cc03663 .elementor-repeater-item-96a902d.jet-parallax-section__layout .jet-parallax-section__image {
    background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_12-VDDL1TIS0311_1576.jpg");
    background-size: cover;
}

.elementor-8280 .elementor-element.elementor-element-372053a .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-372053a:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn {
    font-family: "Avenir", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-372053a .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-cc03663>.elementor-container {
    min-height: 800px;
}

.elementor-8280 .elementor-element.elementor-element-cc03663 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 998;
}

.elementor-8280 .elementor-element.elementor-element-143e399 .elementor-repeater-item-9896460.jet-parallax-section__layout .jet-parallax-section__image {
    background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_10-VLTT1TEX0000-VOOCPT3W0000_1277-1.jpg");
    background-size: cover;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae {
    z-index: 999;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn {
    font-family: "Avenir Light", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-a5233ae .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-143e399>.elementor-container {
    min-height: 600px;
}

.elementor-8280 .elementor-element.elementor-element-143e399 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 998;
}

.elementor-8280 .elementor-element.elementor-element-3201a22 .elementor-repeater-item-9896460.jet-parallax-section__layout .jet-parallax-section__image {
    background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_10-VLTT1TEX0000-VOOCPT3W0000_1277-2.jpg");
    background-size: cover;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .elementor-widget-container {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-4509963:not(:has(.elementor-widget-container)) {
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn {
    font-family: "Avenir", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn,
.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-eft--bloom div {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom div {
    border-radius: 100px 100px 100px 100px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn-wrap .ha-creative-btn {
    --ha-ctv-btn-txt-clr: #FFFFFF;
    --ha-ctv-btn-bg-clr: #02010100;
    --ha-ctv-btn-border-clr: #FFFFFF;
    --ha-ctv-btn-bg-hvr-clr: #F15A24;
    --ha-ctv-btn-border-hvr-clr: #F15A24;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--iconica>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--montino.ha-eft--winona>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--montino.ha-eft--winona::after {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--montino.ha-eft--rayen>span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--montino.ha-eft--rayen::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--montino.ha-eft--nina {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--montino.ha-eft--nina::before {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-4509963 .ha-creative-btn.ha-stl--hermosa.ha-eft--bloom span {
    padding: 12px 25px 10px 25px;
}

.elementor-8280 .elementor-element.elementor-element-3201a22>.elementor-container {
    min-height: 800px;
}

.elementor-8280 .elementor-element.elementor-element-3201a22 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 90px 10px;
    z-index: 998;
}

.elementor-8280 .elementor-element.elementor-element-3201a22>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8280 .elementor-element.elementor-element-fcfc34a:not(.elementor-motion-effects-element-type-background),
.elementor-8280 .elementor-element.elementor-element-fcfc34a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8280 .elementor-element.elementor-element-fcfc34a {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-8280 .elementor-element.elementor-element-fcfc34a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-8280 .elementor-element.elementor-element-63404a7>.elementor-widget-container {
    margin: 30px 0px 36px 0px;
}

.elementor-8280 .elementor-element.elementor-element-63404a7 {
    z-index: 9999;
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-63404a7 .elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-8280 .elementor-element.elementor-element-63404a7 .elementor-heading-title {
    font-family: "Rift", Sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.75em;
    color: #000000;
}

.elementor-8280 .elementor-element.elementor-element-447b3d0>.elementor-widget-container {
    margin: 30px 0px 30px 0px;
}

.elementor-8280 .elementor-element.elementor-element-447b3d0 {
    z-index: 9999;
    text-align: center;
}

.elementor-8280 .elementor-element.elementor-element-447b3d0 .elementor-heading-title {
    font-family: "Rift", Sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.75em;
    color: #000000;
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-8280 .elementor-element.elementor-element-62e9ad0>.elementor-container {
        min-height: 600px;
    }
    .elementor-8280 .elementor-element.elementor-element-635c930 .elementor-repeater-item-e87c0db.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_06-VDDL1TIS0291-VDDL1TXR0111_0775-1.jpg");
        background-size: auto;
    }
    .elementor-8280 .elementor-element.elementor-element-635c930>.elementor-container {
        min-height: 400px;
    }
    .elementor-8280 .elementor-element.elementor-element-4b90f50 .elementor-repeater-item-e87c0db.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_06-VDDL1TIS0291-VDDL1TXR0111_0775-1.jpg");
        background-size: auto;
    }
    .elementor-8280 .elementor-element.elementor-element-4b90f50>.elementor-container {
        min-height: 400px;
    }
    .elementor-8280 .elementor-element.elementor-element-55aafd6 .elementor-repeater-item-96a902d.jet-parallax-section__layout .jet-parallax-section__image {
        background-size: auto;
    }
    .elementor-8280 .elementor-element.elementor-element-55aafd6>.elementor-container {
        min-height: 400px;
    }
    .elementor-8280 .elementor-element.elementor-element-cc03663 .elementor-repeater-item-96a902d.jet-parallax-section__layout .jet-parallax-section__image {
        background-size: auto;
    }
    .elementor-8280 .elementor-element.elementor-element-cc03663>.elementor-container {
        min-height: 400px;
    }
    .elementor-8280 .elementor-element.elementor-element-143e399 .elementor-repeater-item-9896460.jet-parallax-section__layout .jet-parallax-section__image {
        background-size: auto;
    }
    .elementor-8280 .elementor-element.elementor-element-143e399>.elementor-container {
        min-height: 400px;
    }
    .elementor-8280 .elementor-element.elementor-element-3201a22 .elementor-repeater-item-9896460.jet-parallax-section__layout .jet-parallax-section__image {
        background-size: auto;
    }
    .elementor-8280 .elementor-element.elementor-element-3201a22>.elementor-container {
        min-height: 400px;
    }
}

@media(max-width:767px) {
    .elementor-8280 .elementor-element.elementor-element-bc8a291 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-8280 .elementor-element.elementor-element-62e9ad0>.elementor-container {
        min-height: 500px;
    }
    .elementor-8280 .elementor-element.elementor-element-62e9ad0 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-8280 .elementor-element.elementor-element-635c930 .elementor-repeater-item-e87c0db.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/03/Home-pageabout-us-button.jpg");
        background-size: cover;
    }
    .elementor-8280 .elementor-element.elementor-element-635c930>.elementor-container {
        min-height: 300px;
    }
    .elementor-8280 .elementor-element.elementor-element-4b90f50 .elementor-repeater-item-e87c0db.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_06-VDDL1TIS0291-VDDL1TXR0111_0775-1.jpg");
        background-size: cover;
    }
    .elementor-8280 .elementor-element.elementor-element-f2c72bc {
        z-index: 99;
    }
    .elementor-8280 .elementor-element.elementor-element-4b90f50>.elementor-container {
        min-height: 300px;
    }
    .elementor-8280 .elementor-element.elementor-element-4b90f50 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-8280 .elementor-element.elementor-element-07bc8b8 {
        font-size: 5rem;
    }
    .elementor-8280 .elementor-element.elementor-element-d25ddff {
        padding: 0px 0px 3px 0px;
    }
    .elementor-8280 .elementor-element.elementor-element-fd88cc7 {
        font-size: 5rem;
    }
    .elementor-8280 .elementor-element.elementor-element-55aafd6 .elementor-repeater-item-96a902d.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/03/home-page-where-buy.jpg");
        background-size: cover;
    }
    .elementor-8280 .elementor-element.elementor-element-55aafd6>.elementor-container {
        min-height: 300px;
    }
    .elementor-8280 .elementor-element.elementor-element-cc03663 .elementor-repeater-item-96a902d.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/08/250709_TalliaF25_12-VDDL1TIS0311_1576.jpg");
        background-size: cover;
    }
    .elementor-8280 .elementor-element.elementor-element-372053a {
        z-index: 99;
    }
    .elementor-8280 .elementor-element.elementor-element-cc03663>.elementor-container {
        min-height: 300px;
    }
    .elementor-8280 .elementor-element.elementor-element-cc03663 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-8280 .elementor-element.elementor-element-143e399 .elementor-repeater-item-9896460.jet-parallax-section__layout .jet-parallax-section__image {
        background-image: url("https://www.tallia.com/wp-content/uploads/2025/03/home-page-contact.jpg");
    }
    .elementor-8280 .elementor-element.elementor-element-3201a22 .elementor-repeater-item-9896460.jet-parallax-section__layout .jet-parallax-section__image {
        background-size: cover;
    }
    .elementor-8280 .elementor-element.elementor-element-4509963 {
        z-index: 99;
    }
    .elementor-8280 .elementor-element.elementor-element-3201a22>.elementor-container {
        min-height: 300px;
    }
    .elementor-8280 .elementor-element.elementor-element-3201a22 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-8280 .elementor-element.elementor-element-447b3d0>.elementor-widget-container {
        margin: 15px 0px 15px 0px;
    }
    .elementor-8280 .elementor-element.elementor-element-447b3d0 .elementor-heading-title {
        font-size: 50px;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-07bc8b8 */

.elementor-8280 .elementor-element.elementor-element-07bc8b8 {
    animation: cssmarquee2 10s linear infinite;
    margin: 0;
    white-space: nowrap;
}

.elementor-8280 .elementor-element.elementor-element-07bc8b8 p {
    margin: 0;
}

@keyframes cssmarquee2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-fd88cc7 */

.elementor-8280 .elementor-element.elementor-element-fd88cc7 {
    animation: cssmarquee1 10s linear infinite;
    margin: 0;
    white-space: nowrap;
}

.elementor-8280 .elementor-element.elementor-element-fd88cc7 p {
    margin: 0;
}

@keyframes cssmarquee1 {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.elementor-8280 .elementor-element.elementor-element-fd88cc7 {
    text-shadow: -1px 0px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000;
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-3201a22 */

@media only screen and (max-width: 480px) {
    .elementor-8280 .elementor-element.elementor-element-3201a22 .jet-parallax-section__image {
        background-position: 0 !important;
    }
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-63404a7 */

.elementor-8280 .elementor-element.elementor-element-63404a7 .trans {
    text-shadow: -1px 0px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000;
    color: #fff !important;
}

.elementor-8280 .elementor-element.elementor-element-63404a7 {
    margin: 0;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-447b3d0 */

.elementor-8280 .elementor-element.elementor-element-447b3d0 .trans {
    text-shadow: -1px 0px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000;
    color: #fff !important;
}

.elementor-8280 .elementor-element.elementor-element-447b3d0 {
    margin: 0;
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src: url('https://www.tallia.com/wp-content/uploads/2023/03/Avenir-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('https://www.tallia.com/wp-content/uploads/2023/03/Avenir-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('https://www.tallia.com/wp-content/uploads/2023/03/Avenir-Black.ttf') format('truetype');
}

/* End Custom Fonts CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Rift';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('https://www.tallia.com/wp-content/uploads/2023/03/Fort-Foundry-Rift-Bold.ttf') format('truetype');
}

/* End Custom Fonts CSS */